#scheduleContainer .wrapper{
	min-height: 250px;
	height:auto!important;
	_height:250px;
}


#schdBlk th{
	font-size: 0.8em;
}
#schdBlk .iconspan{
	width: 18px;
	border-right: 0px;
}
#schdBlk .description{
	border-left: 0;
}
#schdBlk .duration{
	width: 70px;
}
#schdBlk .duration .date{
	font-size:11px;
	white-space: nowrap;
}
#schdBlk .percentDone{
	width: 40px;
}
#schdBlk .hiddenCol{
	width: 0;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: right;
}


#schdBlk td.duration, 
#schdBlk td.percentDone, #schdBlk td.addMilestoneRole{
	padding: 3px;
}

.milestone-row td.description{
	padding-left: 0px;
	font-size: 12px;
}
.phase-row td.description{
	padding-left: 10px;
	font-size: 12px;
}
.task-row td.description{
	padding-left: 10px;
	font-size: 11px;
}
.task2-row td.description{
	padding-left: 20px;
	font-size: 11px;
}

.highLightRed{
	color: #ff0000;
}
.highLightGreen{
	color: #00cc00;
}

.iconspan span{
	float: left;
      	height: 14px;
      	width: 12px;
      	cursor: pointer;
}
.milestoneclose {
       background: transparent url(images/scheduling-folder-closed.gif) 
       		no-repeat scroll 0%;
  }
.milestoneopen {
       background: transparent url(images/scheduling-folder-open.gif)
               no-repeat scroll 0%;
   }
.phaseclose {
       background: transparent url(images/scheduling-folder-closed.gif) 
       		no-repeat scroll 0%;
   	margin-left: 5px;
   }
.phaseopen {
       background: transparent url(images/scheduling-folder-open.gif)
               no-repeat scroll 0%;
       float: left;
       height: 14px;
       width: 12px;
       cursor: pointer;
       margin-left: 5px;
   }
.icontask {
       width: 6px;
       margin-left: 5px;
  }

.percentT{
	cursor: pointer;
}
select.editPercentT{
	font-size: 9px;
	width: 40px;
	
}

.chartBarWrapper{
	position: relative;
}
.todayBar{
	position: absolute;
	top: 0px;
}
.chartBar{
	position: absolute;
	top: 5px;
	height: 12px;
}
.phase, .milestone, .task{
	font-size: 10px;
}

.phase{
	background-color: #cad7e7;
	background-image: url(images/gantt-phase.png); 
}
.milestone{
	width:12px; 
	height:12px;
	background-image: url(images/gantt-milestone.png);
}
.task{
	background-color: #999;
	background-image: url(images/gantt-task-ongoing.png); 
}
.task.done{
	text-align: right;
	color: #fff;
	background-color: #4a4;
	background-image: url(images/gantt-task-complete.png); 
}
.today{
	width: 3px;
	/*background-color: #ff9999;*/
	background-image: url(images/today-marker.png);
}

.con1{
	margin-right: 20px;
} 
.con1 .label{
	padding-left: 3px;
}
img.urgIcon{
	
	padding-right:3px;
}