.studentname{
	font-weight:bold;
}
.dimensionCol{
}
.scoreCol{
	border-right: 1px dotted #555;
	border-left: 1px dotted #555;
}
th.scoreCol{
	text-align: right;
	padding-right: 5px;
}
th.scoreCol .leftspan{
	float: left;
	padding-left:5px;
	display: inline-block;
	width: 10px;
}

.resultContainer .wrapper{
	min-height: 250px;
	height:auto!important;
	_height:250px;
}



#resultBlk th{
	background: #a3a3a3 ;
	color: #f0f0f0;
    border: 1px solid #f9f9f9;
	font-size: 0.8em;
}



#resultBlk .hiddenCol{
	width: 0;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: right;
}

.chartBarWrapper{
	position: relative;
}

.chartBar{
	position: absolute;
	top: 2px;
	height: 12px;
}

.norms{
	background-color: #9bbb59;
	border: 1px solid #fff;
}
.self_pre{
	width:12px; 
	height:12px;
	background-image: url(images/prof-selfpre.png);
}
.self_post{
	width:12px; 
	height:12px;
	background-image: url(images/prof-selfpost.png);
}
.peer{
	width:12px; 
	height:12px;
	background-image: url(images/prof-peer.png);
}
.instructor{
	width:12px; 
	height:12px;
	background-image: url(images/prof-instructor.png);
}
.others{
	width:12px; 
	height:12px;
	background-image: url(images/prof-others.png);
}







